.push-button {
  &:not(.initial) {
    animation-name: pointerup;
    animation-duration: 0.1s;
    animation-fill-mode: backwards;
  }

  &.clicked {
    animation-name: pointerdown;
    animation-fill-mode: forwards;
  }
}

@keyframes pointerdown {
  from {
    scale: 1;
    filter: none;
  }
  to {
    scale: 0.9;
    filter: brightness(0.9);
  }
}

@keyframes pointerup {
  from {
    scale: 0.9;
    filter: brightness(0.9);
  }
  to {
    scale: 1;
    filter: none;
  }
}
